<section class="block container block-domain">
    <header class="block__header">
        <h2>The best webhosting Starting at per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eos in iure, voluptatibus minus quam
            quas reiciendis harum qui veniam?</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Enter domain name here ..." />
        <button class="btn btn--accent"><svg class="icon icon--white">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>Search</button>
    </div>
    <ul class="list block-domain__prices">
        <li>.com $9</li>
        <li><span class="badge badge--secondary">.sg $7</span></li>
        <li>.space $12</li>
        <li>.info $14</li>
        <li>.net $16</li>
        <li>.xyz $10</li>
    </ul>
</section>